<div class="alert alert-info" role="alert">
    <span style="font-size: large;">Ürün Fiyatı Ekle / {{item.name}}</span>
</div>

<form [formGroup]="addForm" (ngSubmit)="submitForm()" class="w-50 mx-auto">

    <input type="hidden" formControlName="itemId">
    <div class="form-group">
        <label for="name">Ürün Fiyat Adı</label>
        <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="code">Ürün Fiyat Kodu</label>
        <input type="text" class="form-control" id="code" formControlName="code">
    </div>
    <div class="form-group">
        <label for="description">Ürün Fiyat Açıklaması</label>
        <input type="text" class="form-control" id="description" formControlName="description">
    </div>
    <div class="form-group">
        <label for="price">Ürün Fiyatı</label>
        <input type="number" class="form-control" id="price" formControlName="price">
    </div>
    <div class="form-group">
        <label for="priceTypeId">Fiyat Tipi</label>
        <select class="form-control" id="priceTypeId" formControlName="priceTypeId">
            <option value="{{null}}" disabled>Fiyat Tipi Seç</option>
            <option *ngFor="let priceType of priceTypes" value="{{priceType.id}}">{{priceType.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="itemPriceGroupId">Para Birimi Grubu</label>
        <select class="form-control" id="itemPriceGroupId" formControlName="itemPriceGroupId">
            <option value="{{null}}" disabled>Para Birimi Grubu Seç</option>
            <option *ngFor="let itemPriceGroup of itemPriceGroups" value="{{itemPriceGroup.id}}">{{itemPriceGroup.name}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>
