<div class="alert alert-info" role="alert">
    <span style="font-size: large;">Köy Listesi</span>
    <a routerLink="add" class="btn btn-primary btn-sm" style="float: right;"><i class="fa fa-plus"></i> Yeni Köy Ekle</a>
</div>

<div class="form-group">
    <input type="text" class="form-control" placeholder="Tabloda ara..." [(ngModel)]="filterTerm">
</div>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Köy Kodu</th>
            <th scope="col">Köy Adı</th>
            <th scope="col">Köy Açıklaması</th>
            <th scope="col">Bölge</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let village of villages | filter: filterTerm | paginate: {
            itemsPerPage: tableSize,
            currentPage: page,
            totalItems: count
        };let i = index" [class.active]="i == currentIndex">
            <td>{{village.code}}</td>
            <td>{{village.name}}</td>
            <td>{{village.description}}</td>
            <td>{{village.area}}</td>
            <td>
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        İşlem
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="update/{{village.id}}"><i class="fa fa-edit"></i> Güncelle</a>
                        <a class="dropdown-item" (click)="delete(village.id)"><i class="fa fa-close"></i> Sil</a>
                    </div>
                </div>
            </td>
        </tr>
</table>

<div class="d-flex justify-content-center">
    <pagination-controls responsive="true" previousLabel="Önceki" nextLabel="Sonraki"
        (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>


