<div class="alert alert-info" role="alert">
    <span style="font-size: large;">{{partner?.name}} Ödeme Hareketleri</span>
</div>

<table class="table table-hover table-responsive">
    <thead class="thead-light">
        <tr>
            <th scope="col">Cari Ünvanı</th>
            <th scope="col">Cari Kodu</th>
            <th scope="col">Bölge</th>
            <th scope="col">Köy</th>
            <th scope="col">Tarih</th>
            <th scope="col">Ay</th>
            <th scope="col">Türü</th>
            <th scope="col">Tutar</th>
            <th scope="col">Makbuz</th>
            <th scope="col">Bağkur</th>
            <th scope="col">Stopaj</th>
            <th scope="col">Ödenen Tutar</th>
            <th scope="col">Net Tutar</th>
            <th scope="col">Borsa</th>
            <th scope="col">Miktar</th>
            <th scope="col">Fiyat</th>
            <th scope="col">IBAN</th>
            <th scope="col">Müstahsil Tarihi</th>
            <th scope="col">TcNo</th>
            <th scope="col">VergiNo</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group dropleft">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        İşlem
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fa fa-close"></i> Sil</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-plus"></i> Müstahsil Ekle</a>
                    </div>
                </div>
            </td>
        </tr>
</table>


