<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="assets/images/e4logo.png" alt="logo" width="64px"
                height="64px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class="fa fa-home"></i>
                        Anasayfa
                    </a>
                </li>
                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-users"></i> Cari
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/partner">Cari Listesi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="area"> <i class="fa fa-flag"></i> Bölge</a>
                        <a class="dropdown-item" routerLink="village"> <i class="fa fa-tree"></i> Köy</a>
                        <a class="dropdown-item" routerLink="item-price-group"> <i class="fa fa-money"></i> Fiyat
                            Grubu</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [routerLinkActive]="['active']">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cubes"></i> Ürün
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/item">Ürün Listesi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="unit"> <i class="fa fa-database"></i> Birim</a>
                        <a class="dropdown-item" routerLink="division"> <i class="fa fa-clone"></i> Sektör</a>
                        <a class="dropdown-item" routerLink="warehouse"> <i class="fa fa-recycle"></i> Ambar</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/buy-milk" routerLinkActive="active">
                        <i class="fa fa-truck"></i>
                        Süt Alımı
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sale-food" routerLinkActive="active">
                        <i class="fa fa-shopping-cart"></i>
                        Yem Satışı
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/payment" routerLinkActive="active">
                        <i class="fa fa-money"></i>
                        Ödemeler
                    </a>
                </li>
                <ng-container *ngIf="currentUser$ | async">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{(currentUser$ | async).displayName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Çıkış</a>
                        </div>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-cog"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ayarlar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="width: 500px;">
                                    <form>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="stopaj"
                                                        class="col-sm-6 col-form-label col-form-label-sm">Stopaj
                                                        Oranı</label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control form-control-sm"
                                                            id="stopaj" value="{{setting?.stopaj}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="borsa"
                                                        class="col-sm-8 col-form-label col-form-label-sm">Borsa
                                                        Payı Oranı</label>
                                                    <div class="col-sm-4">
                                                        <input type="number" class="form-control form-control-sm"
                                                            id="borsa" value="{{setting?.borsa}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="bagkur"
                                                        class="col-sm-6 col-form-label col-form-label-sm">Bağkur
                                                        Oranı</label>
                                                    <div class="col-sm-6">
                                                        <input type="number" class="form-control form-control-sm"
                                                            id="bagkur" value="{{setting?.bagkur}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="report"
                                                        class="col-sm-4 col-form-label col-form-label-sm">Öndeğer
                                                        Raporu</label>
                                                    <div class="col-sm-8">
                                                        <select id="report" class="custom-select custom-select-sm">
                                                            <option value="">Rapor Seç</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-4">
                                                <button class="btn btn-primary btn-block btn-sm">Yeni Rapor</button>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary btn-block btn-sm">Rapor Düzenle</button>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            Yazdır
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="chars"
                                                        class="col-sm-4 col-form-label col-form-label-sm">Karakter
                                                        Sayısı</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control form-control-sm"
                                                            id="chars" placeholder="0">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="siraNoTc"
                                                        class="col-sm-4 col-form-label col-form-label-sm">Sıra No
                                                        (TC)</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control form-control-sm"
                                                            id="siraNoTc" value="{{setting?.lastPaymentNo}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="seriNo"
                                                        class="col-sm-4 col-form-label col-form-label-sm">Seri
                                                        No</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control form-control-sm"
                                                            id="seriNo" placeholder="0">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <label for="siraNo"
                                                        class="col-sm-4 col-form-label col-form-label-sm">Sıra No
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control form-control-sm"
                                                            id="siraNo" placeholder="0">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="invoiceDate" class="col-sm-4 col-form-label col-form-label-sm">Makbuz Tarihi</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="text" id="invoiceDate" class="form-control form-control-sm" bsDatepicker [bsValue]="invoiceDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                    <span class="input-group-append bg-white border-left-0">
                                                        <span class="input-group-text bg-transparent">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="muhDate" class="col-sm-4 col-form-label col-form-label-sm">Müstahsil Tarihi</label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="text" id="muhDate" class="form-control form-control-sm" bsDatepicker [bsValue]="muhDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                                                    <span class="input-group-append bg-white border-left-0">
                                                        <span class="input-group-text bg-transparent">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-block">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>